<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body class='container'>
    <% include ../partials/nav.ejs %>

    <h3>
        <a href='/blog/' class='btn btn-primary'>← Back to All Posts</a>
        <a href='/blog/rss' class='btn btn-warning'><img height='16px' src='/rss.png' /> RSS</a>
    </h3>

    <h1><%= postData.title %></h1>
    <p class='text-secondary'>
        <em>Published <%= dateformat(new Date(postData.published), 'mmmm dS') %></em><br>
        <em><%= postData.author %></em><br>
        <strong>Tags: </strong><% for (const tag of postData.tags) { %>
            <a href='/blog/tag/<%= tag %>'><%= tag %></a>
        <% } %>
    </p>
    <p>
        <%- postContent %>
    </p>
    </body>
</html>
