<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body class="container">
    <% include ../partials/nav.ejs %>

    <h3>
        <a href='/blog/rss' class='btn btn-warning'><img height='16px' src='/rss.png' /> RSS</a>
    </h3>

    <% for (let i = 0; i < blogId.length; i++) { %>
        <h1><a href='/blog/<%= blogId[i] %>'><%= blogData[i].title %></a></h1>
        <p class='text-secondary'>
            <em><%= dateformat(new Date(blogData[i].published), 'mmmm dS') %></em><br>
            <em><%= blogData[i].author %></em><br>
            <strong>Tags: </strong><% for (const tag of blogData[i].tags) { %>
                <a href='/blog/tag/<%= tag %>'><%= tag %></a>
            <% } %>
        </p>
        <p>
            <%= blogData[i].summary %>
        </p>
        <hr>
    <% } %>
    </body>
</html>
